html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-image: linear-gradient(to bottom, white 0%, rgba(252, 220, 103, 0.5) 100%);    
    font-size: 16px;
}

@font-face {
    font-family: 'MiFuente';
    src: url('./assets/WorkforceScale.otf') format('opentype'),
         url('./assets/WorkforceGradient.otf') format('opentype'),
         url('./assets/Ancient\ Medium.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
.contenedor{
    width: min(90%, 120rem);
    margin: 2rem auto;
}
.imagen{
    max-width: 100%;
}
.centrar-texto{
    text-align: center;
}

.probando{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding:2rem;
    color:black;
    font-family: 'MiFuente';
    font-size: 72px;
    background-image: url('./img/webpack.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50rem;
}

.probando button{
    grid-row: 3/4;
    width: min(26rem,60%);
    height: 5rem;
    justify-self: center;
    align-self: end;
}

@media (min-width: 1260px){
    .probando{
        height: 60rem;
    }
    .probando button{
        height: 20%;
    }
}
